/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";

input {
  font-size: inherit;
  text-align: center;
  width: 5em;
  height: 5em;
  margin: 3px 0 0 0;
  padding: 0;
}

input:disabled {
  font-weight: bold;
  color: black;
}

input.highlight {
  background: yellow;
}
